<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Kurslarımız</h1>
    <h2>Web İnkişafı 101</h2>
    <p>HTML, CSS və JavaScript-dən istifadə edərək veb saytların necə yaradılacağını öyrənin. Bu kurs sizə front-end veb
        inkişafının əsaslarını öyrədəcək.
    </p>
    <ul>
        <li>HTML</li>
        <li>CSS</li>
        <li>JavaScript</li>
    </ul>
    <h2>Python Proqramlaşdırma</h2>
    <p>Python dilinin əsaslarını öyrənərək məlumat analizi, veb inkişaf və avtomatlaşdırma sahələrində bacarıqlarınızı
        inkişaf etdirin.</p>
    <ul>
        <li>Python</li>
        <li>Django</li>
    </ul>
    <h2>Verilənlər Bazası Dizaynı</h2>
    <p>SQL dili və verilənlər bazası dizayn prinsipləri ilə tanış olun. Bu kursda, effektiv verilənlər bazası
        sistemlərinin necə qurulacağını öyrənəcəksiniz.
    </p>
    <ul>
        <li>SQL</li>
        <li>MySQL</li>
        <li>SQLite</li>
        <li>MsSQL</li>
    </ul>
    <p>Daha çox məlumat üçün bizimlə əlaqə saxlayın: info@kurslarimiz.com</p>

</body>

</html>